<ion-header >
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Historique de votes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
    <ion-item >
      <ion-avatar slot= "start">
        <img src="./assets/icon/moodcv.jpg" /> 
      </ion-avatar>
      <ion-label>
        <h2> DEMBELE Mouhamoud</h2>
        <p> Date connection: <span>22/01/2022 12:30:01</span></p>
        <p> Date vote: <span>22/01/2022 12:50:01</span></p>
        <p> Commentaire: <span> Bonne chance à tous !!</span></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list >
    <ion-item >
      <ion-avatar slot= "start">
        <img src="./assets/icon/assimi.jpeg" /> 
      </ion-avatar>
      <ion-label>
        <h2> GOITA ASSIMI</h2>
        <p> Date connection: <span>23/01/2022 12:30:01</span></p>
        <p> Date vote: <span>23/01/2022 12:50:01</span></p>
        <p> Commentaire: <span> Vive le Mali !!</span></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list >
    <ion-item >
      <ion-avatar slot= "start">
        <img src="./assets/icon/muslima1.png" /> 
      </ion-avatar>
      <ion-label>
        <h2> Traore Mariam</h2>
        <p> Date connection: <span>24/01/2022 12:30:01</span></p>
        <p> Date vote: <span>24/01/2022 12:50:01</span></p>
        <p> Commentaire: <span> Bonne chance à tous !!</span></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list >
    <ion-item >
      <ion-avatar slot= "start">
        <img src="./assets/icon/man1.png" /> 
      </ion-avatar>
      <ion-label>
        <h2> Zerbo Ousmane</h2>
        <p> Date connection: <span>23/01/2022 00:30:01</span></p>
        <p> Date vote: <span>22/01/2022 12:50:01</span></p>
        <p> Commentaire: <span> Je vais gagné c'est sûr !!</span></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list >
    <ion-item >
      <ion-avatar slot= "start">
        <img src="./assets/icon/man2.png" /> 
      </ion-avatar>
      <ion-label>
        <h2> DEMBELE Ousmane</h2>
        <p> Date connection: <span>22/01/2022 12:30:01</span></p>
        <p> Date vote: <span>22/01/2022 12:40:01</span></p>
        <p> Commentaire: <span>  Que le meuilleur gagne !!</span></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list >
    <ion-item >
      <ion-avatar slot= "start">
        <img src="./assets/icon/muslima2.png" /> 
      </ion-avatar>
      <ion-label>
        <h2> TRAORE Rokia</h2>
        <p> Date connection: <span>27/01/2022 23:30:01</span></p>
        <p> Date vote: <span>28/01/2022 00:50:01</span></p>
        <p> Commentaire: <span> Be happy </span></p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
