<ion-content>
  <ion-card>
<ion-card-header>
  <ion-card-title><h1>CONTACT</h1></ion-card-title>
  
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Prénom</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Adresse Mail</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Veuillez confirmer le mot de passe</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" >Numéro de Téléphone</ion-label>
        <ion-input type="tel"></ion-input>
      </ion-item>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title><h1>Ville/Adresse</h1></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    
    <ion-item>
      <ion-label position="floating">Rue</ion-label>
      <ion-input type="tel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Porte</ion-label>
      <ion-input type="tel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Quartier</ion-label>
      <ion-input type="tel"></ion-input>
    </ion-item>
  </ion-card-content>
  </ion-card>
  <ion-button size="full" color="light">Enregistrer</ion-button>
</ion-content>
