<ion-header>
  <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  Ionic
Framework
Ionic est un framework open-source créé en 2013 par Max Lynch, Ben Sperry, et Adam Bradley. Deux versions distinctes sont disponibles, incompatibles entre elles : la première version, 1.3.3, se base sur AngularJS 1.5.3 tandis que la version 3.5.0 se base sur Angular 4.1.3 et TypeScript. Wikipédia
Dernière version : 5.6.14 (18 août 2021)
Première version : 2013
Version avancée : 3.9.9 (7 octobre 2019)
Écrit en : TypeScript, HTML, CSS, JavaScript
Licence : MIT
Langages de programmation : JavaScript, TypeScript
Recherches associées

</ion-content>
