<ion-header>
  <ion-toolbar>
    <ion-title class="verte"><h1>register</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title><h1> Que desirez vous faire dans notre application ?</h1></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-radio-group value="biff">

      <ion-item>
        <ion-label>Je voudrais prendre contact avec vous</ion-label>
        <ion-radio slot="start" value="biff"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Je souhaite m'inscrire en BIG3</ion-label>
        <ion-radio slot="start" value="griff"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Je voudrais juste visiter votre université</ion-label>
        <ion-radio slot="start" value="buford"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-card-content>
</ion-card>

<ion-card>
<ion-card-header>
  <ion-card-title><h1>CONTACT</h1></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Prénom</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirmer le mot de passe</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" >Téléphone</ion-label>
        <ion-input type="tel"></ion-input>
      </ion-item>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title><h1>Adresse</h1></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    
    <ion-item>
      <ion-label position="floating">Rue</ion-label>
      <ion-input type="tel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Porte</ion-label>
      <ion-input type="tel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Quartier</ion-label>
      <ion-input type="tel"></ion-input>
    </ion-item>
  </ion-card-content>
  </ion-card>
  <ion-button size="full" color="light">Enregistrer</ion-button>
</ion-content>


  
  

