<ion-header>
  <ion-toolbar color="success">
    <ion-title>listes des candidats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item color="primary">
      <ion-avatar slot= "start">
        <img src="./assets/icon/moodcv.jpg" /> 
      </ion-avatar>
      <ion-label>
        <h2> DEMBELE Mouhamoud</h2>
        <p> Programme: <span>Developpement mobile ionic </span></p>
        <p> Fonction : <span>Software engineer</span></p>
        <p> SLOGAN: <span> Never give up</span></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list >
    <ion-item color="secondary">
      <ion-avatar slot= "start">
        <img src="./assets/icon/assimi.jpeg" /> 
      </ion-avatar>
      <ion-label>
        <h2> GOITA ASSIMI</h2>
        <p> Programme: <span>Securité, Santé, prosperité</span></p>
        <p> Fonction: <span>Colonel</span></p>
        <p> SLOGAN: <span> Le Mali d'abord !!</span></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list >
    <ion-item color="warning">
      <ion-avatar slot= "start">
        <img src="./assets/icon/muslima1.png" /> 
      </ion-avatar>
      <ion-label>
        <h2> Traore Mariam</h2>
        <p> Programme: <span>Votre souhait</span></p>
        <p> Fonction: <span>Cuisinière en chef </span></p>
        <p> SLOGAN: <span> Bonne chance à tous !!</span></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list >
    <ion-item color="tertiary">
      <ion-avatar slot= "start">
        <img src="./assets/icon/man1.png" /> 
      </ion-avatar>
      <ion-label>
        <h2> Zerbo Ousmane</h2>
        <p> Programme: <span>Manger 3 fois par jour</span></p>
        <p> Fonction: <span>DJ</span></p>
        <p> SLOGAN: <span> YO YO YO !!</span></p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
