<ion-header>
  <ion-toolbar>
    <ion-title class="fond">big3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="flex-center">
  <ion-item>
    <ion-label position="floating">Nom</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Prénom</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Phone</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Spécialitées</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-button fill="clear" size="full" color="blue">Add</ion-button>

</ion-content>